HOST =localhost
PORT =8000
DATABASE_URL ="YOUR URL"
JWT_SECRET =SECRET KEY

CLOUDINARY_CLOUD_NAME=SAMPLE
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=SECRET

EMAIL_USER =EMAIL
EMAIL_PASS =APP PASSWORD
EMAIL_SERVICE =gmail

REDIS_URL = "YOUR URL"